.footer {
  padding-top: 48px;
  padding-bottom: 14px;
  position: relative;
  background: radial-gradient(
    circle at 97% 5%,
    rgba(37, 44, 51, 1) 0%,
    rgba(57, 43, 76, 1) 47%
  );

  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
  @include mobile {
    padding-top: 0;
    padding-top: 64px;
  }
}
.tree__container {
  width: 320px;
  height: 555px;
  position: absolute;
  left: 0;
  top: 14.5%;
  background-image: url("../images/tree-2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  @include mobile {
    left: 0;
    top: -4%;
  }
}
.grass__container {
  width: 280px;
  height: 90px;

  background-image: url("../images/grass-2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 12%;
  bottom: 0;
  z-index: -1;
  @include mobile {
    left: 11%;
    bottom: 0;
    width: 330px;
  }
}
.couple__container {
  background-image: url("../images/pump-2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 125.008px;
  height: 74.986px;
  position: absolute;
  right: 4%;
  bottom: 3%;
  z-index: 0;
}
.first--pump__container {
  background-image: url("../images/z-2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 48px;
  height: 50.144px;
  position: absolute;
  right: 33%;
  bottom: 30%;
  z-index: -1;
  @include mobile {
    bottom: 35%;
    right: 36%;
  }
}
.second--pump__container {
  background-image: url("../images/Group-2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 48px;
  height: 55px;
  position: absolute;
  right: 49%;
  bottom: 27%;
  z-index: -1;
  @include mobile {
    bottom: 31%;
  }
}
.line__container {
  background-image: url("../images/line-2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1px;
  height: 50.213px;
  position: absolute;
  right: 55%;
  bottom: 35%;
  z-index: -1;
  @include mobile {
    bottom: 40%;
  }
}
.line__container--1 {
  background-image: url("../images/line-2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1px;
  height: 50.213px;
  position: absolute;
  right: 40%;
  bottom: 34%;
  z-index: -1;
  @include mobile {
    bottom: 41%;
    right: 42%;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 32px;
  @include mobile {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}
.footer__link {
  color: #fff;

  font-size: 14px;

  font-weight: 400;
  line-height: 140%;
  text-decoration: none;
}
.footer__text {
  color: #fff;
  font-size: 16px;

  font-weight: 600;
  line-height: 140%;
}
.footer__list--contacts {
  margin-top: 18px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 16px;
}
.footer__item--contacts {
  color: #fff;

  font-size: 14px;

  font-weight: 400;
  line-height: 140%;
  opacity: 0.8;
}
.footer__chat {
  color: #fff;
  opacity: 0.8;
  font-size: 14px;

  font-weight: 400;
  line-height: 140%;
  margin-bottom: 8px;
}
.footer__chat--container {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 32px;
}
.footer__chat--icons-1 {
  width: 32px;
  height: 32px;
  background-image: url("../images/logos_whatsapp-2x.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__chat--icons-2 {
  width: 32px;
  height: 32px;
  background-image: url("../images/logos_telegram-2x.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__paymants--list {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 25px;
}
.footer__paymants--item-1 {
  width: 84px;
  height: 32px;
  background-image: url("../images/logos_visa-2x.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__paymants--item-2 {
  width: 55px;
  height: 32px;
  background-image: url("../images/master\ card-2x.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__paymants--item-3 {
  width: 92px;
  height: 32px;
  background-image: url("../images/image\ 640-2x.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__paymants--item-4 {
  width: 103px;
  height: 32px;
  background-image: url("../images/373095\ 1-2x.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__paymants--item-5 {
  width: 65px;
  height: 23px;
  background-image: url("../images/Frame-sepa-2x.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__text--company-name {
  color: #fff;
  text-align: center;
  font-size: 11px;

  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 4px;
  opacity: 0.8;
}
.footer__text--code {
  opacity: 0.8;
  color: #fff;
  text-align: center;
  font-size: 11px;

  font-weight: 400;
  line-height: 140%;
}
.footer__contacts--container {
  @include mobile {
    display: flex;
    flex-direction: row;
    gap: 56px;
    align-items: baseline;
  }
}
