.header {
  background-position: center;
  background: radial-gradient(
    circle at 3% 5%,
    rgba(52, 34, 86, 1) 0%,
    rgba(91, 19, 44, 1) 34%,
    rgba(16, 16, 16, 0.98) 100%
  );
  .header__container {
    position: relative;
  }
  @include tablet {
    background: radial-gradient(
      circle at 3% 5%,
      rgba(52, 34, 86, 1) 0%,
      rgba(91, 19, 44, 1) 34%,
      rgba(16, 16, 16, 1) 100%
    );
  }
}
.header__container--bg {
  background-image: url("../images/bats\ pic.png");
  background-repeat: no-repeat;

  background-position: 50% 140%;
  @include mobile {
    background-size: 375px;
  }
  @include tablet {
    padding-bottom: 41px;
    background-image: url("../../images/berds-2x.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  z-index: -1;
  padding-bottom: 16px;
}
.header__button {
  width: 96px;
  height: auto;
  background-color: transparent;
  display: inline-flex;
  padding: 9px 24px;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  border-radius: 5px;
  border: 2px solid #fff;
}
.header-nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__title {
  color: #fff;
  text-align: center;

  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  @include mobile {
    font-size: 28px;
  }
  @include tablet {
    font-size: 32px;
  }
}
.header__image--container {
  background-image: url("../images/Right\ pic-2x.png");
  background-repeat: no-repeat;
  background-size: cover;

  margin-top: 16px;
  width: 283.318px;
  height: 163.184px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  @include mobile {
    margin-top: 13px;
    width: 300px;
    height: 173px;
    margin-bottom: 13px;
  }
  @include tablet {
    width: 520px;
    height: 315px;
    position: absolute;
    right: -32%;
    top: 12%;
  }
}
.header__text {
  color: #fff;
  text-align: center;

  font-size: 15px;

  font-weight: 400;
  line-height: 140%;
  opacity: 0.8;
  margin-bottom: 24px;
  @include mobile {
    font-size: 16px;
    margin-bottom: 48px;
  }
  @include tablet {
    font-size: 17px;
    text-align: start;
  }
}
.header__button--test {
  display: inline-flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 49px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  border-radius: 5px;
  background: #fc3232;
  border: none;
  @include mobile {
    width: 343px;
    height: 56px;
    font-size: 17px;
  }
  @include tablet {
    margin-bottom: 73px;
  }
}
.header__navigation--table {
  display: none;
  @include tablet {
    display: block;
  }
}
.header__container--tablet {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.header__navigation--registration {
  margin-left: 24px;
  color: #fff;

  font-size: 16px;
  opacity: 0.8;
  font-weight: 600;
  line-height: 140%;
}
.header__soc-link--1 {
  margin-right: 24px;
}
.header-title__container--tablet {
  @include tablet {
    width: 430px;
    margin-bottom: 24px;
  }
}
.header-tablet__container-text {
  @include tablet {
    width: 430px;
    margin-bottom: 34px;
  }
}
.header__list--icons {
  display: none;
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
}
.header__text--icons {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;

  font-size: 16px;

  font-weight: 600;
  line-height: 24px;
}
.header__item--icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
